.details h2 {
    font-size: 3.5em;
    margin-top: 80px;
}

.details h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 40px;
}

.html {
    margin-top: 40px;
}

.featured {
    margin-bottom: 40px;
}


.footer {
    border-top: 1px solid #f1f1f1;
    color: #57606a;
    font-size: 14px;
    margin: 50px 20px;
    display: grid;
    gap: 25px;
    grid-template-columns: 320px;
    justify-content: left;
}

.sup {
    font-size: 9px;
    font-weight: 900;
    color: #da8609;
}

.footer div {
    padding: 20px 0 0 0;
    max-width: 320px;
}

.footer div:nth-child(1) {
    border: 4px dashed #dcdddd;
    border-width: 5px 0 5px 0;
}


.footer h3 {
    font-weight: 600;
    font-size: 15px;
    color: #24292f;
}

.link {
    color: #0969da;
    margin: 20px 0;
    font-weight: 600;
    width: max-content;
}

.link:hover {
    color: #0969da;
    text-decoration-line: underline;
}

.link:active {
    color: #003a7c;
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    box-shadow: -0.5px 1px 2px #d0d7de;
}

.small {
    font-size: 11px;
    display: block;
}

.btn {
    border: 1px solid #096bda8c;
    border-radius: 3px;
    padding: 5px 16px;
    background: #f6f8fa;
    font-weight: 600;
    color: #24292f;
    font-size: 13px;
    box-shadow: -0.5px 1px 2px #d0d7de;
    cursor: pointer;
    margin: 14px 0;
}

.btn:hover {
    border-color: #0969da;
}

.btn:active {
    color: #0969da;
    box-shadow: -1px 2px 1px #d0d7de;
    background: #eaf0f7;
}

@media only screen and (min-width: 700px) {
    .footer {
        grid-template-columns: 320px;
        grid-template-columns: repeat(2, minmax(300px, auto));
        gap: 60px;
        justify-content: center;
    }
}

@media only screen and (min-width: 1050px) {
    .footer {
        grid-template-columns: 190px 320px max-content;
        gap: 80px;
        justify-content: center;
    }
}